[submodule "Vulkan-Headers"]
	path = Vulkan-Headers
	url = git@github.com:KhronosGroup/Vulkan-Headers.git
[submodule "Vulkan-Loader"]
	path = Vulkan-Loader
	url = git@github.com:KhronosGroup/Vulkan-Loader.git
[submodule "Detours"]
	path = Detours
	url = git@github.com:microsoft/Detours.git
[submodule "googletest"]
	path = googletest
	url = git@github.com:google/googletest.git
[submodule "Vulkan-Utility-Libraries"]
	path = Vulkan-Utility-Libraries
	url = git@github.com:KhronosGroup/Vulkan-Utility-Libraries.git
[submodule "SPIRV-Headers"]
	path = SPIRV-Headers
	url = git@github.com:KhronosGroup/SPIRV-Headers.git
[submodule "SPIRV-Tools"]
	path = SPIRV-Tools
	url = git@github.com:KhronosGroup/SPIRV-Tools.git
[submodule "robin-hood-hashing"]
	path = robin-hood-hashing
	url = git@github.com:martinus/robin-hood-hashing.git
[submodule "mimalloc"]
	path = mimalloc
	url = git@github.com:microsoft/mimalloc.git
[submodule "glslang"]
	path = glslang
	url = git@github.com:KhronosGroup/glslang.git
[submodule "Vulkan-Profiles"]
	path = Vulkan-Profiles
	url = git@github.com:KhronosGroup/Vulkan-Profiles.git
[submodule "valijson"]
	path = valijson
	url = git@github.com:tristanpenman/valijson.git
[submodule "jsoncpp"]
	path = jsoncpp
	url = git@github.com:open-source-parsers/jsoncpp.git
[submodule "Vulkan-ValidationLayers"]
	path = Vulkan-ValidationLayers
	url = git@github.com:KhronosGroup/Vulkan-ValidationLayers.git
[submodule "VulkanMemoryAllocator"]
	path = VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "shaderc"]
	path = shaderc
	url = git@github.com:google/shaderc.git
[submodule "abseil-cpp"]
	path = abseil-cpp
	url = git@github.com:abseil/abseil-cpp.git
[submodule "re2"]
	path = re2
	url = git@github.com:google/re2.git
[submodule "effcee"]
	path = effcee
	url = git@github.com:google/effcee.git
[submodule "Vulkan-Hpp"]
	path = Vulkan-Hpp
	url = git@github.com:KhronosGroup/Vulkan-Hpp.git
[submodule "slang"]
	path = slang
	url = git@github.com:shader-slang/slang.git
